@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

body{
    background-color: #111;
    font-family: 'Open Sans', sans-serif;
}

h3{
    color: white;
    text-align: center;
}

.button{
    background: red;
    width: 250px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 100px auto;
    display: inline-block;
    cursor: pointer;
}

.albums{
    width: 95%;
    margin: 0 auto;
}